.flex-column{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right:10px;
}
.input-box{
    height:30px;
    width:150px;
    padding:5px;
    margin-bottom:20px;
    margin-top:0px;
}